body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: lightgrey;
}

#sketchpad {
    border-style: solid;
}

.column {
    display: flex;
    border-style: none;
}

.row {

    background-color: white;
    border-style: none;
    transition: background-color 0.15s;
}

.row:hover {
    background-color: black;
    
}

#board {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 56px;
}

#reset, #size {
    border-radius: 16px;
    font-size: 24px;
    padding: 8px;
    background-color: beige;
}