body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.column {
    border-style: solid;
    display: flex;
}

.row {
    border-style: solid;
    border: 4 4;
    width: 80px;
    height: 80px;
}